extends layout
block content


	.dagskrain

		ul.nav.nav-tabs
			li(role='presentation'): a(href='/dagskrain/ruv') 
				img(src="/images/ruv.jpg", alt="") 
			li(role='presentation'): a(href='#') 
				img(src="/images/ruv-sport.jpg", alt="") 
			li(role='presentation'): a(href='#')
				img(src="/images/stod2.jpg", alt="") 
			li(role='presentation'): a(href='#')
				img(src="/images/stod2bio.jpg", alt="") 
			li(role='presentation'): a(href='#') 
				img(src="/images/stod2gull.png", alt="")  
			li(role='presentation'): a(href='#') 
				img(src="/images/stod2sport.jpg", alt="")
			li(role='presentation'): a(href='#') 
				img(src="/images/stod2sport2.jpg", alt="")	 
			li(role='presentation'): a(href='#') 
				img(src="/images/skja1.jpg", alt="")	 
						
			


		table
			tr
				td
			
				




