extends layout
block content


	h1 Upphaf sjónvarpsins
	h3 
		| Skoski verkfræðingurinn John Logie Baird (1888-1946) fann upp sjónvarpið. Hann sendi út fyrstu sjónvarpsmyndirnar frá herbergi á Central Hotel í Glasgow árið 1924. Þar var aðeins um útlínur hluta að ræða.
		br
		| Fyrsta andlitið birtist á skjánum hjá Baird ári seinna og fyrstu sjónvarpsmyndirnar af hlutum á hreyfingu þann 26. janúar 1926, en sá dagur er talinn marka upphaf sjónvarpsins. 
		| Sjónvarpsmyndin var upphaflega aðeins 30 lóðréttar línur í rauðu og svörtu. BBC notaði það kerfi Bairds árið 1929 og fyrsta sjónvarpsmyndin með hljóði var send út 1930. Í júlí sama ár var fyrsta sjónvarpsleikritið sent út hjá BBC, leikritið Maðurinn með blómið í munni eftir Luigi Pirandello.
	p Heimildir fengnar af Vísindavefnum
		
	img(src="/images/olitv.png" alt="Óli í sjónvarpinu")
