extends layout

block content
  p Skráðu þig inn í frábæra fjélagið.
  if msg
    p= msg
  
  form(method="post")
    fieldset.form-group
      label(for="username") Notendanafn
      input(id="username" type="text" placeholder="Notendanafn" name="username").form-control
    fieldset.form-group
      label(for="password") Lykilorð
      input(id="password" type="password" name="password" placeholder="Lykilorð").form-control
    input(type="submit").form-control
