extends layout

block content

	if session && session.user

		form(method='post')
			input(type='text', name='title' placeholder='Titill Færslu')
			label(for="entry")
			p
			textarea(id="entry" name="entry", placeholder='Skrifaðu færsluna þína hér').xss-enabler
			input(type="submit" value="Vista").form-control

.xss-holder