extends layout
block content
  
 
    .skraning
      if valid== false
        #errors
        
          if valid== false
            p Villur í skráningu!
            each result in results
              if result.result == false
                ul
                  li.villa= result.name
       
      form(action='/samband/bar', method="post")
        fieldset.form-group
          label(for='name') Nafn: * 
          if name
            input#name(type='text', name='name', placeholder='Jón Jónsson' value=name).form-control
          else
            input#name(type='text', name='name', placeholder='Jón Jónsson').form-control

        fieldset.form-group
          label(for='email') Netfang: *
          if email
          input#email(type='text', name='email', placeholder='nonni@example.org').form-control
          
        fieldset.form-group
          label(for='efni') Efni: *
          input#efni(type='text', name='efni', placeholder='Efni fyrirspurnar').form-control

        fieldset.form-group
          label(for='query') Fyrirspurn: *
          textarea(type='text', name='query', placeholder='Skrifaðu þína fyrirspurn hér..').form-control

        .buttons
          input(type='submit', value='Senda').form-control