extends layout
block content
  

    .skraning
      if valid== false
        #errors
        
          if valid== false
            p Villur í skráningu!
            each result in results
              if result.result == false
                ul
                  li.villa= result.name
       
      form(action='/samband', method="post")
        fieldset.form-group
          label(for='name') Nafn: * 
          input(id="name" type='text', name='name', placeholder='Jón Jónsson' value=name).form-control

        fieldset.form-group
          label(for='email') Netfang: *
          input(id="email" type='text', name='email', placeholder='nonni@example.org' value=email).form-control
          
        fieldset.form-group
          label(for='efni') Efni: *
          input(id="efni" type='text', name='efni', placeholder='Efni fyrirspurnar' value=efni).form-control

        fieldset.form-group
          label(for='query') Fyrirspurn: *
          textarea(id="query" type='text', name='query', placeholder='Skrifaðu þína fyrirspurn hér..').form-control= query


        .buttons
          input(type='submit', value='Senda').form-control






