extends layout

block content

		.vinsaelt
		
			figure
				p Scandal - alla fimmtudaga kl. 21.00 - á Skjá Einum
					a(href='http://www.imdb.com/title/tt1837576/?ref_=fn_al_tt_1')
						img(src="/images/imdb.png" alt="IMDB logo").imdb
				img(src="/images/scandal.jpeg" alt="Scandal mynd").tattur

			figure
				p Homeland - alla sunnudaga kl. 22:10 - á Stöð 2
					a(href='http://www.imdb.com/title/tt1796960/?ref_=nv_sr_1')
						img(src="/images/imdb.png" alt="IMDB logo").imdb
				img(src="/images/homeland2.jpeg" alt="Homeland mynd").tattur

			figure
				p The Voice Ísland - alla föstudaga kl. 20:00 - á Skjá Einum
				img(src="/images/voiceisl.jpeg" alt="The Voice Ísland mynd").tattur
			
			figure
				p The Big Bang Theory - alla þriðjudaga kl. 20:10 - á Stöð 2
					a(href='http://www.imdb.com/title/tt0898266/?ref_=nv_sr_1')
						img(src="/images/imdb.png" alt="IMDB logo").imdb
				img(src="/images/bbt.jpeg" alt="The Big Bang Theory mynd").tattur

.xss-holder