extends layout
block content

	if session && session.user
		if results
			.bold
				a(href='/newentry') Bæta við nýjum þræði
				p
			each result in results
				.panel.panel-primary
					.panel-heading
						a.panel-title(href='/forum?id='+ result.titleid)= result.title
					.panel-body 
						p= result.create_date
