extends layout
block content

	if session && session.user
		if results
			each result in results
				.entry
					.left
						.bold
							a(href='/forum?id='+ result.serial)= 'Titill: ' + result.title