extends layout
block content

	if session && session.user
		if results
			a(href='/newentry') Bæta við nýjum þræði
			p
				each result in results
					.entry
						.left
							.bold
								a(href='/forum?id='+ result.titleid)= ' ' + result.title + ' ' +result.create_date